<%= form_for(@user) do |f| %>

   <%= render 'fields', :f=>f %>
   
    <div class="submit">
  	<%= f.submit "Update" %> <br />
  </div>

<% end %>

<div>
<div id="edit">
	<%= gravatar_for @user %><br />
	<a href="http://gravatar.com/emails" >Change</a>
</div>
</div>