<% if object.errors.any? %>
<div id="error_explanation" align="left">
	<h2> <%= pluralize(object.errors.count, "error" ) %> </h2>
	<p>
		prohibited this <%= object.class.to_s.underscore.humanize.downcase %> from being saved:
	</p>
	<p>
		there where problems with the following fields:
	</p>
	<br />
	<ul>
		<%= object.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
			<% end %>
		</li>
	</ul>
</div>

<% end %>