<!DOCTYPE html >
<html>
	<head>
		<title>ruby on rails app | About</title>
	</head>
	<body>
		
		<h1>About us :</h1>
        <p>
        	This is home page for  <%= @title %><a href="http://www.uniri.hr/"> test app 2</a>
        </p>
		
	</body>
	
	
</html>