		<h1>About us :</h1>
        <p>
        	This is home page for  <%= @title %><a href="http://www.uniri.hr/"> test app 3</a>
        </p>
        <p> <a href="http://localhost:3000/pages/home">home</a></p>
        <p> <a href="http://localhost:3000/pages/about">about</a></p>
        <p> <a href="http://localhost:3000/pages/contact">contact</a></p>