<h1>About us :</h1>
<p>
	This is home page for   <%= @title %><a href="http://www.uniri.hr/"> test app 1</a>

</p>

<div align="left" class="buttonAlign">
<%= link_to 'Sign up now!', signup_path ,:class=>"signup_button round"  %>
</div>